*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Main Container */
#mainContainer{
    margin: 0;
    padding: 0;
    /* background-color: aliceblue; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
/* Profile Card General Style */
.profileCard{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 450px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.30);
    transition: 0.25s ease;
}
/* Profile Card 1 */
#profileCard1{
    width: 450px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9FFF6;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.30);

}
#profileCard1 h1{
    display: flex;
    width: 450px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#profileCard1 img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 20px;
}
#profileCard1:hover{
    box-shadow: 0px 0px 20px 2px black;
    transition: 0.25s ease;
}
/* Profile Card 2 */
#whiteBG{
    width: 450px;
    height: 230px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}
#profileCard2{
    width: 450px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 10px;
    background:linear-gradient(white,rgb(131, 247, 243));
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.30);
    transition: 0.25s ease;
}
#profileCard2 img{
    margin-top:10%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#profileCard2 h1{
    display: flex;
    width: 450px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#profileCard2:hover{
    box-shadow: 0px 0px 20px 2px black;
    transition: 0.25s ease;
}
/* Profile Card 3 */
#profileCard3{
    width: 450px;
    height: 600px;
    border-radius: 10px;
    background: linear-gradient(180deg, #A4FFF4 0%, #CFFFC3 69.79%);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.30);
    transition: 0.25s ease;
}
#profileCard3 h1{
    display: flex;
    width: 450px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#profileCard3 img{
    margin-top:5%;
    width: 240px;
    height: 240px;
    border-radius: 5px;
}
#profileCard3:hover{
    box-shadow: 0px 0px 20px 2px black;
    transition: 0.25s ease;
}
/* Description Class */
.description{
    margin: 0 auto;
    display: flex;
    width: 350px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* emailAddress class */
.emailAddress{
    margin-top:20px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Animations */
@keyframes fast {
    
}
@keyframes slow {
    
}
@keyframes identifier {
    
}